@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap');

.employeeSection {  
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  background-size: 120%;
  background-repeat: no-repeat;
  background-position: center;
}

.employeeSection h1{
  color: rgba(255, 255, 255, 0.8);
  font-size: 5rem;
  margin-top: 20px;
  font-weight: 400;
  font-size: 4rem; 
}

.employeeContainer {
  text-align: center;
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.contentHeader{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.content {
  flex: 1;
  background-color: transparent;
  width: 100%;
  font-size: 1.5rem;
}

.contentHeader h2{
  margin-right: 5rem;
}

.employeeContainer h2 {
  color: white;
  padding: 20px 0 20px 20px;
  margin-bottom: 20px;
  font-weight: 300;
}

table {
  width: 100%;
  border-collapse: collapse;
  border: 2px solid rgba(255, 255, 255, 0.8); 
}

table button {
  margin-right: 0;
}

th, td {
  padding: 10px;
  text-align: center;
  border: 2px solid rgba(255, 255, 255, 0.6); 
}

td {
  color: white;
  font-weight: 350;
}

.botonesTabla{
  display: flex;
  gap: 1rem;
  font-size: 1.3rem;
  border: none; 
}

th {
  background-color: transparent;
  color: white;
  font-weight: 1000;
}

tbody tr:nth-child(even) {
  background-color: transparent;
}

button {
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  border: 2px solid rgba(255, 255, 255, 0.8); 
  background-color: transparent;
}


button:hover {
  background-color: white;
  color: black;
}

#addButtonImagen{
  border-radius: 100px;
}

#botonEliminar:hover{
  color: red;
}

#botonModificar:hover{
  color: #007bff;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal button {
  color: black;
  border-color: black;
  background-color: white;
  width: 100%;
}

.modal button:hover {
  color: white;
  background-color: black;
}

.modal-content {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  width: 400px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.modal-content h2{
  color: black;
  text-align: center;
}

.modal-content h3 {
  margin-top: 0;
  color: #333;
}

.close{
  color: black;
  font-size: 2rem;
}
.close:hover{
  cursor: pointer;
}

.modal input, select{
  width: calc(100% - 20px);
  color: black;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ddd;
  border-radius: 5px;
} 

select {
  width: 100%;
  background-color: whitesmoke;
  color: #333;
}

.modal label {
  color: black; 
}

input[type="date"] {
  padding: 8px;
  color: black;
  background-color: whitesmoke;
}

@media (max-width: 768px) {
  .employeeSection {  
    height: auto; 
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
  }

  .employeeContainer{
    margin-top: 10rem;
  }

  .content {
    border-radius: 15px;
    font-family: 'Patrick Hand', cursive;
    font-size: 1rem; 
  }

  table, thead, tbody, th, td, tr {
    display: block;
    height: fit-content;
  }

  .botonesTabla{
    display: flex;
    justify-content: center;
    gap: 3rem;
    font-size: 1.2rem;
    border: none; 
  }

  table{
    border: 0; 
  }

  tr {
    border: 4px solid rgb(255, 255, 255);
    font-size: 1.5rem;
    border-radius: 15px; 
    margin-bottom: 5rem;
}

  th {
    display: none;
  }

  .modal {
    width: 100%;
    height: 100%;
    font-size: 0.9rem;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 2;
  }

  .modal h2{
    margin-block-start: 0;
  }

}



  