nav {
  display: flex;
  justify-content: center;
  align-items: center;
  background: white;
  padding: 10px 20px;
  color: white;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
}

button {
  background-color: orange;
  color: white;
  font-size: 1rem;
  cursor: pointer;
  padding: 5px 10px;
  transition: color 0.3s ease, background-color 0.3s ease;
  text-align: center;
}

button:hover {
  color: #ff7e5f;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 5px; 
}

 



