nav {
  display: flex;
  justify-content: center;
  gap: 50rem;
  align-items: center;
  background: transparent;
  padding: 15px 0;
  position: fixed;
  z-index: 1;
  width: 100%;
  top: 0;
}

button {
  color: white;
  font-size: 1rem;
  cursor: pointer;
  transition: color 0.3s ease, background-color 0.3s ease;
  text-align: center;
}

@media (max-width: 768px) {
  nav {
    background-color: #040D12;
    justify-content:center;
    gap: 3rem;
  }
}

 



