  .loginSection {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-image: url("./img/blur-hospital-clinic-interior.jpg");
    background-size: cover;
    background-position: center;
    color: black;
  }

  .loginContainer {
    text-align: center;
    padding: 55px 225px;
    background: rgba(255, 255, 255, 0.5);
    border-radius: 28px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(10px); 
  }

  .loginContainer h2{
    font-size: 3rem;
  }
  
  form {
    display: flex;
    flex-direction: column;
  }
  
  input {
    margin-bottom: 10px;
    padding: 8px;
    background-color: white ;
    color: black;
  }
  
  button {
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
  }

  @media (max-width: 768px) {
    .loginSection{
      align-items:baseline;
    }
    .loginContainer {
      padding: 0 15%;
      height: 100%;
      width: 100%;
      border-radius: 0;
    }
  }
  